<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="NtfsFileContainerInfo"
				 type="DataMigrator.Configuration.ContainerConfiguration, DataMigrator" />
		<section name="NtfsDirectoryContainerInfo"
				 type="DataMigrator.Configuration.ContainerConfiguration, DataMigrator" />
	</configSections>

	<appSettings>
		<add key="TestData" value="" />
	</appSettings>

	<NtfsFileContainerInfo MaxFileSize="40000">
	</NtfsFileContainerInfo>
	<NtfsDirectoryContainerInfo MaxFileSize="40000">
	</NtfsDirectoryContainerInfo>
</configuration>