<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CodeFluentRuntimeClient" version="1.0.0.818" targetFramework="net45" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
</packages>